<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
       <!-- Your Navbar -->
<ul class="navbar-nav me-auto">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/owners']">Owners</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/nursery']">Nursery</a>
  </li>
</ul>

        <ul class="navbar-nav ms-auto"> <!-- Use ms-auto to move items to the right -->
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  