<app-login></app-login>
<<<<<<< HEAD
<!--<app-admin-header></app-admin-header>-->
<!--<app-owners-header></app-owners-header>-->
=======
<!-- <app-register></app-register> -->
<!-- <app-admin-header></app-admin-header>
<app-owners-header></app-owners-header> -->
>>>>>>> dccc54949206f60f9676de3726c3ad3ccdaaba58
<!-- app.component.html -->
<!-- app.component.html -->
<!--<app-home></app-home>-->
<app-footer></app-footer>

<!-- app.component.html -->
<<<<<<< HEAD
<!--<div class="container">
  <router-outlet></router-outlet>
</div>-->
<!-- app.component.html -->

<!--<a routerLink="/about">About</a>-->
<!--<app-about></app-about>-->

<router-outlet></router-outlet>

=======
<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->
>>>>>>> dccc54949206f60f9676de3726c3ad3ccdaaba58
