<header>
    <!-- Your header/navbar component goes here -->
    <!-- Example: <app-header></app-header> -->
</header>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<main class="about-main">
    <router-outlet></router-outlet>
    <!-- This is where your AboutComponent content will be displayed -->
    <!-- You can add additional content specific to the About page here -->
    <div class="about-page-content">
        <div class="image-overlay">
            <img src="https://raw.githubusercontent.com/Chaitu910/PlantStore/main/pexels-maria-orlova-4917089.jpg"
                alt="Nursery Plantation Image" class="plantation-image">
            <div class="about-text">
                <h2>About us</h2>

                <p>Welcome to our nursery plantation! We are dedicated to providing <strong>high-quality plants and trees</strong> to our
                    customers.</p>
                <p>Our team of experts ensures that every plant is <strong>well taken care of</strong> and <strong>nurtured to perfection</strong>.</p>
                <p>Whether you're looking for <strong>ornamental plants</strong>, <strong>fruit trees</strong>, or <strong>landscaping solutions</strong>, we've got you
                    covered.</p>
                <p>Feel free to explore our website to learn more about our <strong>products and services</strong>.</p>
                
            </div>
        </div>
        <div class=" Address">
            <h1>Adress</h1>
                <div class="Adress-center">
                    <div class="place">
                        <span class="fa fa-map-marker">&nbsp;</span>
                        <span class="text">hyd, India </span>
                    </div>
                    <br>
                    <div class="phone">
                        <span class="fa fa-phone">&nbsp;</span>
                        <span class="text"> +91 9100336658 </span>
                    </div>
                    <br>
                    <div class="email">
                        <span class="fa fa-envelope">&nbsp;</span>
                        <span class="text"> RMD.com </span>
                    </div>
                    <div class="downtitle">
                        Plants Nursery
                    </div>
                </div>
        </div>
        
        <div class="contact-info">
            <div class="contact-left">
                <h2>Contact us</h2>
					<div class="content">
						<form action="#">
							<div class="email">
								<div class="text">Email:</div>
								<input type="email" required>
							</div>
							<br>
							<div class="msg">
								<div class="text">Message:</div>
								<textarea rows="3" cols="25" required></textarea>
							</div>
							<br>
							<div class="btn">
								<button>Send</button>
							</div>
						</form>
					</div>
            </div>
           
        </div>
        
    </div>

    <!-- Move the footer icons below the text -->
    <div class="footer-icons">
        <!-- Your footer icons go here -->
        <!-- Example: <i class="fab fa-facebook"></i> -->
    </div>
</main>