.about-page-content {
    position: relative;
}

.image-overlay {
    position: relative;
    display: inline-block;
}

.plantation-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-text {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}


.contact-info {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 80px;


    display: flex;
}

.contact-left {
    margin-right: 20px;
}
.Adress{
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 33%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    display: flex;
}
.Adress-center{
    margin-top: 190px;
}


.social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #9b2222; /* Adjust icon color */
    text-decoration: none;
}

.footer-icons {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}