* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li ul.dropdown li {
    display: none;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
}

ul li:hover ul.dropdown li {
    display: block;
}

ul li:hover ul.dropdown {
    display: block;
}

   



