
<body>
  <div class="logo">
    <img src="../assets/images/logo.jpg" alt="">
  </div>
   <div class="img">
    
<img src="../assets/images/plant1.jpg" alt="">   </div>

    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
      </div>
</body>
