<footer class="footer">
    <div class="footer-icons">
        <a href="https://www.facebook.com/your_facebook_page" target="_blank"><i class="fab fa-facebook-f fa-2x" style="color: #3b5998; margin-right: 10px;"></i></a>
        <a href="https://www.instagram.com/your_instagram_account" target="_blank"><i class="fab fa-instagram fa-2x" style="color: #ac2bac; margin-right: 10px;"></i></a>
        <a href="https://twitter.com/your_twitter_account" target="_blank"><i class="fab fa-twitter fa-2x" style="color: #55acee; margin-right: 10px;"></i></a>
    </div>

    <div class="footerNav">
        <a href="#">Contact Our Team</a>
    </div>

    <div class="footerBottom">
        <p>Copyright &copy; 2022; Designed by <span class="designer">RMD</span></p>
    </div>
</footer>
