.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7a2eb; /* Set your desired background color */
    height: 60px; /* Set your desired height */
    text-align: center;
    z-index: 1000;
}


.footer .footer-icons {
    margin-bottom: 100px;
     /* Adjust as needed */
     margin-right: 10px; 
     margin: 0 5px;
     justify-content: space-around;
}



