
<body>
    <div class="img">
 <img src="../assets/images/plant1.jpg" alt="">   </div>
     <div class="login-box">
         <h2>Register</h2>
         <form>
           <div class="user-box">
             <input type="text" name="name" required="">
             <label>Username</label>
           </div>
           <div class="user-box">
            <input type="email" name="email Id" required="">
            <label>email Id</label>
          </div>
          <div class="user-box">
            <input type="text" name="location" required="">
            <label>location</label>
          </div>
          <div class="user-box">
            <input type="tell" name="phonenumber" required="">
            <label>phonenumber</label>
          </div>
           <div class="user-box">
             <input type="password" name="password" required="">
             <label>Password</label>
           </div>
          
         
         
           <a href="#">
             <span></span>
             <span></span>
             <span></span>
             <span></span>
             Submit
           </a>
         </form>
       </div>
 </body>
 